<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<div>登陆页</div>
<a href="/home">首页</a>
<script type="text/javascript" src="../host/js/jquery-2.2.3.min.js"></script>
<script type="text/javascript">
	$(function(){
        $.post({
               url: '/index/dologin',
               data: {userid:'001',pwd:'123456'},
               dataType:'json',
               success:function(res){
                   console.log(res);
               }
           })
     });
</script>
</body>
</html>